@using valorantProject.Models.Class
@model List<Streamers>
<br />
<br />
<br />
<br />
<br />
<div id="stream" class="text-center">
    <h1 style="color:#2e2e2e" class="streamer">Yayıncılarımız</h1>
</div>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="box1">
            <img class="image" src="@item.Image">

            <div class="name_job">
                @item.Name
            </div>

            <p>@item.Description</p>
            <div>
                <a href="@item.YoutubeUrl" class="btn btn-outline-primary" style="background-color:#ff0000">YouTube</a>
                <a href="@item.TwitchUrl" class="btn btn-outline-success" style="background-color:#ae00ff">Twitch</a>
            </div>
        </div>

    }
</div>
